.ReactModalPortal > div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: opacity 500ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	background: #566c73;
	color: #fff;
	max-width: 30rem;
	outline: none;
	padding: 3.6rem;
	text-align: center;
}

.modal__title {
	margin: 0 0 2rem 0;
}

.modal__body {
	font-size: 2rem;
	font-weight: 300;
	margin: 0 0 2.4rem 0;
	word-break: break-all;
}